html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "regular";
  background-color: #061325;
  color: #fff;
  word-break: break-word;
  overflow-x: hidden;
  min-height: 100vh;
  animation: 1s 0.1s fadeIn backwards;
  letter-spacing: 1px;
}

::selection {
  color: #d1a162;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* display: none; */
}

/* Track */

::-webkit-scrollbar-track {
  background: #061325;
  /* display: none; */
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #efaa50;
  border-radius: 5px;
  /* display: none; */
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #e9c494;
  /* display: none; */
}

@font-face {
  font-family: bold;
  src: url(../fonts/Orbitron-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: regular;
  src: url(../fonts/Roboto-Regular.ttf);
  font-display: swap;
}
.bold {
  font-family: "bold";
}
.regular {
  font-family: "regular";
}

.default-color {
  color: #efaa50;
}
a:hover{
  color: #efaa50;
}
.default-bg {
  background-color: #efaa50;
}
.bg-dark-blue {
  background-color: #061325;
}

.webkit-1,
.webkit-3,
.webkit-4 {
  display: -webkit-inline-box;
  -webkit-box-orient: vertical !important;
  width: 100% !important;
  overflow: hidden !important;
}

.webkit-1 {
  -webkit-line-clamp: 1 !important;
}

.webkit-2 {
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}

.webkit-3 {
  -webkit-line-clamp: 3 !important;
}

.webkit-4 {
  -webkit-line-clamp: 4 !important;
}

button:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.br-30 {
  border-radius: 30px;
}

.br-20 {
  border-radius: 20px;
}
.br-15 {
  border-radius: 15px !important;
}

.br-10 {
  border-radius: 10px;
}

.f-1rem {
  font-size: 1rem;
}
.f-5rem {
  font-size: 0.5rem;
}
.f-7rem {
  font-size: 0.7rem;
}
.f-8rem {
  font-size: 0.8rem;
}
.f-9rem {
  font-size: 0.9rem;
}
.f-1-5rem {
  font-size: 1.5rem;
}
.f-1-8rem {
  font-size: 1.8rem;
}
.f-1-3rem {
  font-size: 1.3rem;
}
.f-1-2rem {
  font-size: 1.2rem;
}
.f-1-1rem {
  font-size: 1.1rem;
}
.f-2-3rem {
  font-size: 2.3rem;
}
.f-2-4rem {
  font-size: 2.4rem;
}
.f-2-2rem {
  font-size: 2.2rem;
}
.f-2-8rem {
  font-size: 2.8rem;
}

.f-2rem {
  font-size: 2rem;
}
.opacity-7 {
  opacity: 0.7;
}
.opacity-5 {
  opacity: 0.5;
}
.pb-100 {
  padding-bottom: 100px;
}
.mt-6 {
  margin-top: 6rem;
}

.h-605 {
  height: 700px;
}
.br-bottom {
  border-bottom: 1px solid #464d5d;
}
.br-top {
  border-top: 1px solid #464d5d;
}
.br {
  border: 1px solid #464d5d;
}
.pt-5rem {
  padding-top: 5rem;
}
.gray-color {
  color: #464d5d;
}
.bg-gray {
  background-color: #464d5d;
}
input::placeholder,
textarea::placeholder {
  color: #464d5d;
  font-size: 0.9rem;
  font-weight: 600;
}
.right-15 {
  right: 15px;
}
.ps-6 {
  padding-inline-start: 65px;
}
.w-245 {
  width: 245px;
}
.w-270 {
  width: 270px;
}
.h-550 {
  height: 550px;
}
.default-border {
  border: 1px solid #efaa50;
}
.py-6 {
  padding-top: 7rem !important;
  padding-bottom: 6rem !important;
}
.pt-7 {
  padding-top: 6rem !important;
}
.obj-cover {
  object-fit: cover;
}
.obj-contain {
  object-fit: contain;
}
.cal-responsive {
  display: none;
}

/*===================================hover======================*/

.head-sec .nav-link,
.link-footer,
.link-social,
.link-social pathو .beforeli h4,
.beforeli,
.beforeli path,
.beforeli::before,
.flex-link,
.price-sec .all-awsome,
.responsive-about,
.card-about,
.navbar-toggler,
.navbar-toggler i,
.swiper-slide,
.button-img h5,
.button-img,
.plan-btn,
.plan-btn:after ,
.trans-sec .nav-tabs  {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*======================= head-sec============================*/
header .dropdown-menu {
  background-color: #0f1c2d;
}
header .dropdown-item:focus,
header .dropdown-item:hover,
header .dropdown-item.active,
header .dropdown-item:active {
  background-color: transparent;
}

.head-sec .video-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.head-sec .video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}
.head-sec .video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #061325 1%, #0613258a 99%);
  -webkit-filter: opacity(1);
}

header .nav-link {
  color: #fff;
}
header .nav-link.active {
  color: #efaa50;
  font-family: "bold";
}
header .nav-link:hover {
  color: #efaa50;
}
header .button-img img {
  width: 210px;
}
header .button-img h5 {
  position: absolute;
  top: 35%;
  right: 22%;

}

.button-img:hover h5{
  color: #061325 !important;
transform: scale(1.1);
}

header .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}
.head-sec .default-button-head {
  /* display: flex;
  justify-content: center; */
  width: 370px;
  height: 45px;
  /* align-items: center; */
  position: absolute;
  top: 0px;
  right: 32.5%;
  /* clip-path: polygon(50% 0%, 100% 0, 89% 100%, 10% 100%, 0 0);
  font-size: 0.95rem;
  box-shadow: 5px 8px 9px #a17944 inset; */
}
header .img-arrow img {
  width: 90px;
}

.head-sec .img-frame {
  background-image: url(../img/Frame-head.png);
  background-size: 100%;
  height: 695px;
  background-repeat: no-repeat;
}
.head-sec .detail-head {
  padding: 90px 100px 90px 130px;
}
.head-sec .detail-head h1 {
  font-size: 4.5rem;
}

.head-sec .img-above img {
  width: 513px;
}
.head-sec .img-above {
  bottom: 6px;
  right: 70px;
}
.head-sec .hesder-sec h2 {
  color: #ffffff61;
  position: absolute;
  bottom: 1%;
  left: 20%;
}

.head-sec .gallery-top .swiper-slide {
  height: 750px;
}

.head-sec .gallery-top .swiper-slide h1 {
  pointer-events: none;
  position: absolute;
  top: 38%;
  left: 6%;
  opacity: 0;
  width: 83%;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  text-align: center;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.head-sec .gallery-top .swiper-slide h1 span {
  display: inline-block;
  opacity: 0;
}

.head-sec .gallery-top .swiper-slide-active h1 span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.head-sec .gallery-top .swiper-slide-active h1 span:nth-child(2) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.head-sec .gallery-top .swiper-slide-active h1 span:nth-child(3) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.head-sec .gallery-top .swiper-slide-active h1 span:nth-child(4) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.head-sec .gallery-top .swiper-slide-active h1 span:nth-child(5) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.head-sec .gallery-top .swiper-slide-active h1 span:nth-child(6) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.head-sec .gallery-top .swiper-slide-active h1 span:nth-child(7) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.head-sec .gallery-top .swiper-slide-active h1 span:nth-child(8) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.head-sec .gallery-top .swiper-slide-active h1 {
  opacity: 1;
  text-align: center;
  /* transform: translateY(0%) scale(1);
  transition: 1s ease; */
}

.head-sec .gallery-top .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.head-sec .gallery-top .swiper-pagination-bullet {
  position: relative;
  width: 240px;
  transition: width 0.5s;
  border-radius: 0px;
  background: #efaa50;
  border: none;
  height: 0px;
  padding: 0;
  color: #efaa50;
  opacity: 0.5;
}
.head-sec .gallery-top .swiper-pagination-bullet-active {
  opacity: 1;
}
.head-sec .gallery-top .swiper-pagination-bullet::before {
  content: " ";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 4px;
  background-color: #efaa50;
  top: 33px;
}
footer .link-footer:hover {
  color: #efaa50 !important;
}

header {
  width: 100%;
  box-shadow: unset;
}

.sticky-navbar {
  position: fixed;
  top: 0px;
  padding: 0 !important;
  z-index: 1000;
  animation: sticky-animate 0.7s ease-in-out;
  background-color: #061325;
  box-shadow: rgb(70 77 93) -4px 9px 13px -6px;
}
.sticky-navbar .button-img img {
  width: 170px;
}
.sticky-navbar .navbar-brand img {
  width: 70px;
}
.sticky-navbar .py-3 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.sticky-navbar .button-img h5 {
  position: absolute;
  right: 15%;
  top: 32%;
}
@keyframes sticky-animate {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/*==========================training-sec============================*/

.training-sec .button-img img,
.story-sec .button-img img,
.calories-sec .button-img img,
.ask-sec .button-img img,
.trainingplan-sec .button-img img,
.related-sec .button-img img {
  width: 125px;
  height: 46px;
}
.training-sec .button-img h5 {
  top: 35%;
  right: 12%;
  font-size: 0.8rem;
}
.calories-sec .button-img h5{
  top: 15%;
  right: 10%;
  font-size: 0.8rem;
}
.calories-sec .border-test  .button-img h5{
  top: 35%;
}
.story-sec .button-img h5,
.ask-sec .button-img h5,
.trainingplan-sec .button-img h5,
.related-sec .button-img h5 {
  top: 28%;
  right: 14%;
  font-size: 0.7rem;
}
.trainingplan-sec-contact .button-img img {
  width: 115px;
}
.trainingplan-sec-contact .button-img h5 {
  top: 31%;
  right: 26%;
  font-size: 0.7rem;
}
.calories-sec .border-test{
  margin-inline-end: 2.3rem;
}
.about-sec .v-training,
.training-sec .v-training {
  width: 100%;
  height: 695px;
  object-fit: contain;
}
.story-sec .v-training {
  width: 100%;
  height: 605px;
  object-fit: contain;
}
.training-sec .img-frame2 img,
.about-sec .img-frame2 img,
.story-sec .img-frame2 img,
.trainingplan-sec .img-frame2 img {
  inset: 0;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.training-sec .img-frame2 .fancybox-link,
.about-sec .img-frame2 .fancybox-link,
.story-sec .img-frame2 .fancybox-link,
.trainingplan-sec .img-frame2 .fancybox-link {
  position: absolute;
  top: 50%;
  left: 50%;
}
.training-sec .img-frame2 .fancybox-link i,
.about-sec .img-frame2 .fancybox-link i,
.story-sec .img-frame2 .fancybox-link i,
.trainingplan-sec .img-frame2 .fancybox-link i {
  font-size: 4rem;
  color: #fff;
}

/*==========================about-sec============================*/
.bg-right {
  background-image: url(../img/shadow-right.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
.bg-left {
  background-image: url(../img/Shadow.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
.swiper-about .swiper-container {
  position: relative;
  overflow: hidden;
  height: 650px;
}

.swiper-about .swiper-container > .swiper-slide__content {
  position: absolute;
  top: 0;
}

.swiper-about .swiper-slide {
  display: flex;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  transform: scale(0.8);
}
.swiper-about .swiper-slide.swiper-slide-active {
  transform: scale(1.1);
  opacity: 1;
}
.swiper-about .swiper-slide.swiper-slide-active h3 {
  color: #efaa50;
}

.swiper-about .swiper-slide__content {
  height: 300px;
}
.swiper-about .swiper-button-next,
.swiper-about .swiper-button-prev {
  top: unset;
  bottom: 2%;
  width: 45px;
  height: 45px;
  border: 1px solid #efaa50;
  border-radius: 50%;
}

.swiper-about .swiper-button-next:after,
.swiper-about .swiper-rtl .swiper-button-prev:after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #efaa50;
  font-size: 1.2rem;
}
.swiper-about .swiper-button-prev:after,
.swiper-about .swiper-rtl .swiper-button-next:after {
  content: "\f060";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #efaa50;
  font-size: 1.2rem;
}
.swiper-about .swiper-button-prev,
.swiper-about .swiper-rtl .swiper-button-next {
  left: auto;
  right: 70px;
}
.swiper-about .swiper-pagination {
  text-align: left;
}
.swiper-about .swiper-pagination-bullet {
  background: #8d8d8d;
  opacity: 1;
}
.swiper-about .swiper-pagination-bullet-active {
  background-color: #efaa50 !important;
}

/*==========================how-sec============================*/
.how-sec .button-img img {
  width: 120px;
}
.how-sec .button-img h5 {
  top: 20%;
  right: 10%;
  font-size: 0.8rem;
}
.how-sec .beforeli::before {
  content: "";
  position: absolute;
  height: 65%;
  width: 2px;
  background-color: #464d5d;
  top: 32%;
  left: 3%;
}
.pland-sec .beforeli::before {
  content: "";
  position: absolute;
  height: 60%;
  width: 2px;
  background-color: #464d5d;
  top: 32%;
  left: 4%;
}
.how-sec .beforeli:last-child::before,
.pland-sec .beforeli:last-child::before {
  content: none;
}
.how-sec .beforeli:last-child,
.pland-sec .beforeli:last-child {
  padding-bottom: 0 !important;
}
.beforeli:hover h4 {
  color: #efaa50 !important;
}
.beforeli:hover path {
  fill: #efaa50 !important;
}
.beforeli:hover::before {
  background-color: #efaa50 !important;
}

/*=============================success-sec=============================*/
.swiper-stories .swiper-container {
  height: 480px;
}
.swiper-test .swiper-container {
  height: 430px;
}
.swiper-case .swiper-container {
  height: 350px;
}
.swiper-stories .swiper-slide.swiper-slide-active path {
  fill: #efaa50;
}

.swiper-stories .swiper-container > .swiper-slide__content,
.swiper-test .swiper-container > .swiper-slide__content,
.swiper-case .swiper-container > .swiper-slide__content {
  position: absolute;
  top: 0;
}

.swiper-stories  .swiper-slide,
.swiper-test  .swiper-slide {
  display: flex;
  align-items: baseline;
  justify-content: center;
  transition: all 200ms linear;
  margin-top: 3.5rem;
}
.swiper-case  .swiper-slide {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: all 200ms linear;
}

.swiper-stories  .swiper-slide__content,
.swiper-test  .swiper-slide__content,
.swiper-case  .swiper-slide__content {
  height: 300px;
}
.swiper-stories  .swiper-button-next,
.swiper-stories  .swiper-button-prev,
.swiper-test  .swiper-button-next,
.swiper-test  .swiper-button-prev,
.swiper-case  .swiper-button-next,
.swiper-case  .swiper-button-prev {
  top: unset;
  bottom: 0;
  width: 45px;
  height: 45px;
  border: 1px solid #efaa50;
  border-radius: 50%;
}
/* .swiper-stories .swiper-button-next.swiper-button-disabled,
.swiper-stories .swiper-button-prev.swiper-button-disabled,
.swiper-test .swiper-button-next.swiper-button-disabled,
.swiper-test .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  border-color: #8d8d8d !important;
} */
.swiper-stories  .swiper-button-next.swiper-button-disabled,
.swiper-stories  .swiper-button-prev.swiper-button-disabled,
.swiper-test  .swiper-button-next.swiper-button-disabled,
.swiper-test  .swiper-button-prev.swiper-button-disabled,
.swiper-case  .swiper-button-next.swiper-button-disabled,
.swiper-case  .swiper-button-prev.swiper-button-disabled,
.swiper-about .swiper-button-next.swiper-button-disabled,
.swiper-about .swiper-button-prev.swiper-button-disabled{
  opacity: 1;
  border-color: #464d5d !important;
}
.swiper-stories  .swiper-button-next.swiper-button-disabled:after,
.swiper-stories  .swiper-button-prev.swiper-button-disabled:after,
.swiper-test .swiper-button-next.swiper-button-disabled:after,
.swiper-test .swiper-button-prev.swiper-button-disabled:after,
.swiper-case   .swiper-button-next.swiper-button-disabled:after,
.swiper-case  .swiper-button-prev.swiper-button-disabled:after,
.swiper-about   .swiper-button-next.swiper-button-disabled:after,
.swiper-about  .swiper-button-prev.swiper-button-disabled:after {
  color: #464d5d !important;
}

.swiper-stories .swiper-button-next:after,
.swiper-stories .swiper-rtl .swiper-button-prev:after,
.swiper-test .swiper-button-next:after,
.swiper-test .swiper-rtl .swiper-button-prev:after,
.swiper-case .swiper-button-next:after,
.swiper-case .swiper-rtl .swiper-button-prev:after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #efaa50;
  font-size: 1.2rem;
}
/* .swiper-stories .swiper-button-next.swiper-button-disabled:after,
.swiper-stories .swiper-rtl .swiper-button-next.swiper-button-disabled:after,
.swiper-test .swiper-button-next.swiper-button-disabled:after,
.swiper-test .swiper-rtl .swiper-button-next.swiper-button-disabled:after,
.swiper-stories .swiper-button-prev.swiper-button-disabled:after,
.swiper-stories .swiper-rtl .swiper-button-prev.swiper-button-disabled:after,
.swiper-test .swiper-button-prev.swiper-button-disabled:after,
.swiper-test .swiper-rtl .swiper-button-prev.swiper-button-disabled:after 
  {
  color:#8d8d8d;
} */
.swiper-stories .swiper-button-prev:after,
.swiper-stories .swiper-rtl .swiper-button-next:after,
.swiper-test .swiper-button-prev:after,
.swiper-test .swiper-rtl .swiper-button-next:after,
.swiper-case .swiper-button-prev:after,
.swiper-case  .swiper-rtl .swiper-button-next:after {
  content: "\f060";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #efaa50;
  font-size: 1.2rem;
}
.swiper-stories .swiper-button-prev,
.swiper-stories .swiper-rtl .swiper-button-next,
.swiper-test .swiper-button-prev,
.swiper-test .swiper-rtl .swiper-button-next,
.swiper-case .swiper-button-prev,
.swiper-case .swiper-rtl .swiper-button-next {
  left: auto;
  right: 64px;
}
.swiper-stories .swiper-button-next,
.swiper-stories .swiper-rtl .swiper-button-prev,
.swiper-test .swiper-button-next,
.swiper-test .swiper-rtl .swiper-button-prev,
.swiper-case .swiper-button-next,
.swiper-case .swiper-rtl .swiper-button-prev {
  right: 0px;
  left: auto;
}
.swiper-stories .swiper-pagination,
.swiper-test .swiper-pagination,
.swiper-case .swiper-pagination {
  text-align: left;
}
.swiper-stories .swiper-pagination-bullet,
.swiper-test .swiper-pagination-bullet,
.swiper-case .swiper-pagination-bullet {
  background: #8d8d8d;
  opacity: 1;
}
.swiper-stories .swiper-pagination-bullet-active,
.swiper-test .swiper-pagination-bullet-active,
.swiper-case .swiper-pagination-bullet-active {
  background-color: #efaa50 !important;
}
.swiper-stories .swiper-horizontal > .swiper-pagination-bullets,
.swiper-stories .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-stories .swiper-pagination-custom,
.swiper-stories .swiper-pagination-fraction,
.swiper-test .swiper-horizontal > .swiper-pagination-bullets,
.swiper-test .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-test .swiper-pagination-custom,
.swiper-test .swiper-pagination-fraction,
.swiper-case .swiper-horizontal > .swiper-pagination-bullets,
.swiper-case .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-case .swiper-pagination-custom,
.swiper-case .swiper-pagination-fraction {
  bottom: 0px;
  left: 0;
  width: 100%;
}

.swiper-stories .img-story {
  top: 40px;
  left: 21px;
  width: 75%;
}

/*=============================test-sec=========================*/
.swiper-test img,
.swiper-case img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.border-test {
  border: 1px solid #464d5d !important;
}
.price-sec .img-bee {
  right: 0;
}
.price-sec .img-bee2 {
  right: 21px;
  top: 24px !important;
}

.price-sec .all-awsome {
  height: 640px;
  display: grid;
  background-image: url(../img/Shadow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.box-wrap:hover .all-awsome {
  transform: scale(0.95);
}
.box-wrap:hover .all-awsome:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

/*========================footer========================*/
.link-social:hover {
  color: #efaa50;
  transform: rotate(360deg);
}
.link-social:hover path {
  fill: #efaa50;
}

.alert {
  background-color: #0f1c2d;
  z-index: 9999999;
  bottom: 8%;
  right: 2%;
  width: fit-content;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

.closebtn {
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  right: 5%;
  top: 3%;
}
.closebtn:hover {
  color: #efaa50 !important;
}

.closebtn:hover {
  color: black;
}
#countdown li {
  /* display: inline-block; */
  font-size: 0.8em;
  list-style-type: none;
  padding: 0.5em;
  color: #fff;
  background-color: #2c3847;
  border-radius: 6px;
  text-align: center;
  line-height: 1.2;
  margin-inline-end: 8px;
  width: 56px;
}
#countdown li span {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
}
#countdown img {
  object-fit: cover;
}

.loading {
  overflow: hidden;
  height: 100vh;
}

.loader {
  background-image: url(../img/play.mov);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999999999;
}

/* HIGHLIGHT */
/* .highlight {
  position: relative;
  overflow: hidden;
}

.highlight:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 105px;
  width: 30px;
  background: rgba(255, 255, 255, 0.7);
  transform: rotate(20deg);
}

.highlight:hover:before {
  left: 228px;
  transition: all 0.5s;
} */

/*===================================plan=================*/

.trainingplan-sec .v-training {
  width: 100%;
  height: 670px;
  object-fit: contain;
}
.trainingplan-sec .img-frame2 img {
  inset: 0;
}

.trainingplan-sec .img-frame2 .fancybox-video {
  position: absolute;
  top: 50%;
  left: 50%;
}
.trainingplan-sec .img-frame2 .fancybox-video i {
  font-size: 3rem;
  color: #fff;
}
.accordion-item {
  background-color: #0f1c2d;
  padding: 1rem 1.2rem 1.5rem;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #0f1c2d;
  box-shadow: none;
}
.accordion-body .form-check-input {
  width: 0.9em;
  height: 0.9em;
  border: 1px solid #fff;
  background-color: transparent;
}
#collapseThree .accordion-body .form-check-input {
  position: absolute;
  bottom: 52%;
  left: 19px;
}
#subinside-accordionExample .accordion-button::after ,
#subinside-accordionExample2 .accordion-button::after{
  content: " ";
}

.accordion-body .form-check label {
  cursor: pointer;
}
.customDiv ,
.img-hide{
  display: none;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.active {
  display: block;
}

.btn:hover {
  color: #fff;
}

.accordion-body .form-label {
  background-color: #0f1c2d;
}
.accordion-body .form-check-input:checked[type="radio"] {
  background-color: #efaa50;
  border-color: #efaa50;
}
.form-check-input:focus {
  outline: 0;
  box-shadow: none;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.trainingplan-sec-contact .img-person {
  width: 100%;
  height: 630px;
  object-fit: contain;
}
.form-control {
  display: flex;
  height: 45px;
  color: #6c757d;
  padding: 0.5rem 1rem;
  border: 1px solid #464d5d;
  background-color: transparent;
  border-radius: 1.2rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.form-label {
  position: absolute;
  font-size: 0.8rem;
  top: 5px;
  padding: 0 8px;
  background-color: #061325;
  left: 7px;
  z-index: 1;
}
.iti__country {
  color: #fff;
}
.iti {
  width: 100%;
}
.iti__country-list {
  box-shadow: 1px 1px 4px rgb(179 154 154 / 20%);
  border: 1px solid #464d5d;
  background-color: #061325;
  border-radius: 5px;
}
.iti__selected-flag {
  padding: 0 17px;
}
.iti--allow-dropdown input,
.iti--allow-dropdown input[type="text"],
.iti--allow-dropdown input[type="tel"],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type="text"],
.iti--separate-dial-code input[type="tel"] {
  padding-left: 80px;
}
textarea.form-control {
  height: 200px;
  resize: none;
}
.active-button {
  background-color: #efaa50 !important;
  color: #fff !important;
}
.form-control:focus {
  color: #e7bb81;
  background-color: transparent;
  border-color: #efaa50;
  outline: 0;
  box-shadow: none;
}
.form-check-input:checked {
  background-color: #efaa50;
  border-color: #efaa50;
}
.first ul {
  border-left: 2px solid #fff;
}

.accordion-body .img-accord {
  width: 73px;
  background-color: #1a2637;
  height: 65px;
  border-radius: 5px;
}
.accordion-flush .accordion-item .accordion-button {
  background-color: #0f1c2d;

}
.accordion-button {
  background-color: #0f1c2d;
  border-radius: 15px !important;
  padding: 1rem 1.25rem 0.1rem;
}
.accordion-button.collapsed {
  color: #efaa50;
}
.accordion-flush .accordion-body {
  padding: 1.6rem 1.25rem 0rem;
}
.accordion-body {
  padding: 1.5rem 1.25rem 1rem;
}
.payment-imge {
  width: 45px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid #c5cdd7;
}

.accordion-button::after {
  content: "\f0d7";
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  background-image: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
}
.accordion-button:focus {
  border-color: #464d5d;
  outline: 0;
  box-shadow: none;
}
.accordion-item:not(:first-of-type) {
  border-top: 1px solid #464d5d;
}
.accordion-flush .accordion-item:first-child {
  border-top: 1px solid #464d5d;
  overflow: hidden;
  border: 1px solid #464d5d;
}
.accordion-flush .accordion-item {
  border-right: 1pxpx solid #464d5d;
  border-left: 1pxpx solid #464d5d;
  border-radius: 0;
}

.trans-sec .nav-tabs .nav-item.show .nav-link,
.trans-sec .nav-tabs .nav-link.active {
  background-color: #efaa50;
  border-color: #efaa50 #efaa50 #efaa50;
}
.trans-sec .nav-tabs .nav-link {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  text-align: left;
  padding: 0.7rem 1rem;
}
.trans-sec .nav-tabs {
  margin-inline-end: 2rem;
}

.trans-sec .nav-tabs .nav-link:focus,
.trans-sec .nav-tabs .nav-link:hover {
  border-color: #efaa50;
 
}
.img-frame2 .h-330 {
  height: 335px;
  object-fit: contain;
}

.flex-link {
  height: 35px;
  width: 35px;
}
.flex-link:hover {
  background-color: #efaa50;
}

.category-sec .img-frame2 .h-400 {
  height: 468px;
  object-fit: contain;
}
.introduction-sec .img-frame2 .h-612 {
  height: 706px;
  object-fit: contain;
}

.related-sec .img-frame2 .h-275 {
  height: 275px;
  object-fit: contain;
}
.introduction-sec .img-frame2 h4 {
  position: absolute;
  bottom: 0;
  left: 20px;
}
.border-start1 {
  border-left: 2px solid #efaa50 !important;
}
.achieve-sec .img-frame2 .h-500 {
  height: 603px;
  object-fit: cover;
}
.select-div i,
.select-div span {
  right: 17px;
  top: 40%;
}
.swiper-about {
  display: block;
}
.responsive-about {
  display: none;
}

.navbar-toggler .navbar-toggler-icon {
  position: relative;
  width: 1.8rem;
  background-color: #efaa50;
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
}
.navbar-toggler .navbar-toggler-icon {
  height: 0;
}
.navbar-toggler.collapsed .navbar-toggler-icon {
  height: 3px;
}
.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: 1.8rem;
  height: 3px;
  margin: 0 auto;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
}
.navbar-toggler .navbar-toggler-icon:before {
  top: -3px;
  background-color: #fff;
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon:after {
  bottom: 0px;
  opacity: 1;
  background-color: #fff;
  transform: rotate(45deg);
}
.navbar-toggler.collapsed .navbar-toggler-icon:before {
  top: -7px;
  transform: rotate(0);
  background-color: #efaa50;
}

.navbar-toggler.collapsed .navbar-toggler-icon:after {
  bottom: -7px;
  opacity: 1;
  transform: rotate(0);
  background-color: #efaa50;
}
.sub-static {
  display: none;
}
.custom-select {
  height: 53px;
  padding: 0.5rem 1.3rem;
  border-radius: 1.1rem;
  font-size: 1rem;
}
.select-div2 i {
  right: 23px;
  top: 36%;
  font-size: 1.1rem;
}
.tab-pane a.default-color:hover {
  color: #efaa50;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999999;
}

.loader .video-loader {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.loader .video-loader video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}
.loader .video-loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-image: linear-gradient(to top, #061325 1%, #0613258a 98%);
}
.progress {
  background: transparent;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  display: flex;
  height: 40px;
  width: 100%;
  border-radius: 0;
  position: absolute;
  top: 0;
}
.loader .text-load {
  position: absolute;
  width: 1000px;
  transform: translate(0px, -60%);
}
.loader .text-load p {
  line-height: 1.9;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #efaa50;
  background: #efaa50;
  height: 40px;
  border-radius: 0;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.count-up {
  font-size: 7rem;
  position: absolute;
  bottom: 3%;
  right: 1%;
}
.last-deatail-load {
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.last-deatail-load .bullets {
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
  font-size: 6rem;
}
.last-deatail-load h3 {
  margin-bottom: 2.2rem;
  margin-inline-start: 1rem;
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.typing > * {
  overflow: hidden;
  white-space: nowrap;
  animation: typingAnim 3s steps(50);
}
@keyframes typingAnim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


 .radio-item {
  padding: 0;
  font-size: 13px;
  line-height: 1.5;
  align-items: center;

  background-color: transparent;
  justify-content: space-between;
}
.radio-item input {
  position: absolute;
  right: unset;
  left: 18px;
  top: 26px;
}
.radio-item label {
  height: fit-content;
  background-color: transparent;
cursor: pointer;
width: 100%;
  padding: 25px 0 20px 40px;
  border: 1px solid #464d5d;
  border-radius: 15px;
  position: relative;
}
.radio-item   input:checked + label {
  border-color: #efaa50;
}
.radio-item input[name="payment_type"] {
  accent-color: #efaa50;
  outline: 0;
}
.radio-item span {
  top: 11%;
  right: 4%;
}




.payment-type input{
	display: none;
}
.payment-type label {
  position: relative;
  color: #464D5D;
  font-size: .9rem;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.payment-type label span {
  background-color: #464D5D;
  border-radius: 50%;
  display: flex;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  color: #ffffff70;
  margin-inline-end: 0.5rem;
  line-height: 1.1;
}

.payment-type label i {
color: #323238;
font-size: .8rem;
margin-inline-start: 1.8rem;
line-height: 2;
}
.payment-type  div:last-child  label i {
  opacity: 0;
}
.payment-type input:checked + label{
color: #efaa50;
}
.payment-type input:checked + label:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  width: 26px;
  height: 26px;
  line-height: 1.1;
  border-radius: 50%;
  background-color: #efaa50;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  font-size: .8rem;
}
#accordionFlushExample {
  margin-top: 4.75rem;
}
.response-flex{
  display: none !important;
}
.plan-btn{
  z-index: 1;
  background-color:  #efaa50 ;
}
.plan-btn:hover {
  color: #efaa50 !important;
 
}
.plan-btn:after {
  content: "";
  width: 0%;
  height: 94%;
  position: absolute;
  top: 2px;
  background-color:  transparent;
  z-index: -1;
  opacity: 0;
  left: 2px;
}
.plan-btn:hover:after {
  opacity: 1;
  width: 99%;
  background:  #061325;
}
.alert  .plan-btn:after {
  border-radius: 0 0 10px 10px;
}
/*======================================media======================*/
@media (max-width: 1400px) {
  .h-605 {
    height: 605px;
  }
  .h-550 {
    height: 620px;
  }

  .accordion-body .form-check .f-2-4rem {
    font-size: 2.2rem;
  }
  .trainingplan-sec .img-frame2 .fancybox-link {
    position: absolute;
    top: 46%;
    left: 43%;
  }
  .head-sec .hesder-sec h2 {
    left: 17%;
  }
  .head-sec .gallery-top .swiper-pagination-bullet {
    width: 215px;
  }

  .category-sec .img-frame2 .h-400 {
    height: 403px;
  }

  .introduction-sec .img-frame2 .h-612 {
    height: 612px;
  }

  .head-sec .default-button-head {
    width: 315px;
    right: 28.9%;
  }
  .head-sec .img-frame {
    height: 600px;
  }
  .about-sec .v-training,
  .training-sec .v-training {
    height: 597px;
  }
  .head-sec .gallery-top .swiper-top .swiper-slide {
    height: 665px;
}
  .head-sec .img-above img {
    width: 440px;
  }
}
@media (max-width: 1200px) {
  header .nav-link {
    font-size: 0.9rem;
  }
  .alert {
    bottom: 4%;
}
  .form-check-label .w-25,
  .form-check-label .w-50{
    width: 100%  !important;
  }
  .payment-type .mx-5 {
    margin-right: 1.5rem!important;
    margin-left: 1.5rem!important;
}
  .radio-item label {
    padding: 25px 0 20px 25px;;
}
.radio-item .f-2-4rem {
  font-size: 1.5rem;
}
.radio-item input {
  left: 10px;
}
  .accordion-body .form-check .f-1-5rem {
    font-size: 1.3rem;
}
.accordion-body .form-check span {
  top: 7%;
  right: 4%;
  line-height: .9;
}
  .accordion-body .form-check .f-2-4rem {
    font-size: 1.5rem;
}

#collapseThree .accordion-body .form-check-input {
  bottom: 47px;
}
  .loader .text-load {
    width: 900px;
  }
  .loader .text-load p {
    font-size: 1.1rem;
  }
  .loader .text-load h2 {
    font-size: 1.3rem;
  }
  .last-deatail-load {
    left: 5%;
  }
  .count-up {
    font-size: 6rem;
  }
  .title .pt-5 {
    padding-top: 0.2rem !important;
  }
  .trainingplan-sec .v-training {
    height: 600px;
  }
  .img-frame2 .h-330 {
    height: 300px;
    object-fit: contain;
  }
  .trainingplan-sec-contact .img-person {
    height: 625px;
    object-fit: cover;
}

  .head-sec .hesder-sec h2 {
    left: 10%;
  }
  .custom-select {
    font-size: 0.9rem;
  }
  .h-550 {
    padding: 2rem !important;
  }
  .form-check-label .f-2-3rem {
    font-size: 1.2rem;
  }
  .ps-6 {
    padding-inline-start: 25px;
  }
  .trainingplan-sec .img-frame2 .fancybox-link i {
    font-size: 3rem;
  }
  .introduction-sec .img-frame2 h4 {
    bottom: -12px;
  }
  .achieve-sec svg {
    width: 29px;
  }
  .beforeli svg {
    vertical-align: middle;
    width: 29px;
  }
  header .button-img img {
    width: 155px;
  }
  header .button-img h5 {
    font-size: 0.9rem;
    top: 35%;
    right: 15%;
  }
  .sticky-navbar .button-img img {
    width: 144px;
  }
  .img-arrow img {
    width: 120px;
  }
  .head-sec .detail-head h1 {
    font-size: 3.5rem;
  }
  .head-sec .img-above {
    right: 30px;
  }
  .head-sec .img-above img {
    width: 385px;
  }
  .head-sec .img-frame {
    height: 502px;
  }
  .head-sec .gallery-top .swiper-top .swiper-slide {
    height: 560px;
  }
  .head-sec .gallery-top .swiper-pagination-bullet {
    width: 202px;
  }
  .head-sec .default-button-head {
    width: 270px;
    height: 35px;
    right: 28.3%;
    font-size: 0.8rem;
  }
  .training-sec .v-training {
    height: 500px;
  }
  .h-605 {
    height: 520px;
  }
  .swiper-stories svg {
    width: 100%;
  }
  .swiper-stories .img-story {
    top: 47px;
    left: 21px;
    width: 73%;
  }
  .swiper-test .swiper-container {
    height: 385px;
  }
  .f-2-3rem {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .order-med-first {
    order: -1;
    margin-bottom: 2rem;
  }
  .head-sec .img-above {
    right: 0%;
    bottom: -98px;
}
.head-sec .img-above img {
  width: 345px;
}
.head-sec .gallery-top .swiper-slide-active h1 {
  text-align: left;
}
  
  .alert {
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 1%);
}
  
  .response-flex{
    display: flex !important;
  }
  .web-flex{
    display: none !important;
  }
  .calories-sec .border-test{
    margin-inline-end: 0rem;
  }
  div#accordionFlushExample {
    margin-top: 1rem;
}
#collapseThree .accordion-body .form-check-input {
  bottom: 72%;
}


  .loader .text-load {
    width: 600px;
  }
  .loader .text-load p {
    font-size: 1rem;
  }
  .loader .text-load h2 {
    font-size: 1.2rem;
  }
  .count-up {
    font-size: 4rem;
  }
  .last-deatail-load h3 {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
  }
  .last-deatail-load .bullets {
    font-size: 4rem;
  }
  .img-frame2 .h-330 {
    height: 265px;
    object-fit: contain;
  }
  .trans-sec .nav-tabs {
    margin-inline-end: 0rem;
  }
  /* .trainingplan-sec-contact .img-frame2{
    margin-top: 4rem;
  } */
  .calories-sec .border-test {
    margin-bottom: 2.5rem;
  }
  .trainingplan-sec-contact .img-person {
    height: 500px;
    object-fit: contain;
}
  footer .br-top {
    margin-bottom: 6.5rem;
  }

  .sticky-navbar {
    animation: none;
  }
  .cal-responsive {
    display: block;
    bottom: -10px;
    /* left: 50%; */
    /* transform: translate(-50%, 1%); */
}
  .sub-static img {
    width: 270px;
  }
  .head-sec .detail-head {
    height: 350px;
  }

  .sub-static h5 {
    position: absolute;
    top: 0;
    right: 24%;
  }
  .sub-static {
    display: block;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 1%);
    width: 100%;
    backdrop-filter: blur(4px);
    height: 110px;
    z-index: 999;
  }

  #accordionFlushExample .accordion-item:first-child {
    display: none !important;
  }
  .form-check-label .f-2-3rem {
    font-size: 1.7rem;
  }
  .h-550 {
    height: fit-content;
    margin-bottom: 1.5rem;
    padding: 3rem !important;
  }
  .pland-sec .beforeli::before {
    left: 2%;
  }
  .col-lg-4.col-md-6 .text-center {
    margin-bottom: 2.5rem !important;
  }
  header .navbar-nav {
    height: 100vh;
  }
  .sticky-navbar .navbar-nav {
    height: 100vh;
  }
  header .button-img {
    display: none;
  }
  header .nav-link {
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
    position: relative;
  }
  header .dropdown-toggle::after {
    position: absolute;
    right: 5px;
    top: 15px;
  }
  header .dropdown-menu {
    background-color: transparent;
    border: none !important;
    padding: 0 !important;
  }
  header .navbar-nav .dropdown-menuu.show {
    display: flex !important;
    flex-wrap: wrap;
  }
  .dropdown-menu.show {
    display: flex !important;
    flex-wrap: wrap;
  }
  .dropdown-menu.show li {
    width: 50%;
  }
  .category-sec .img-frame2 {
    margin-top: 3rem;
  }
  .introduction-sec .img-frame2 .h-612 {
    height: 450px;
  }
   .scroll {
    display: flex !important;
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    position: relative;
    cursor: default;
    overflow: scroll hidden;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

 .scroll::-webkit-scrollbar {
    display: none;
  }
  .scroll .active {
    cursor: grab;
    cursor: -webkit-grab;
  }
  .achieve-sec .title {
    margin-top: 1.5rem;
  }
  .f-2-4rem {
    font-size: 2rem;
  }
  .swiper-case .swiper-container {
    height: 330px;
  }
  .swiper-stories .swiper-slide {
    margin-top: 1.5rem;
  }
  .swiper-test .swiper-slide {
    margin-top: 3rem;
  }
  .img-arrow img {
    visibility: hidden;
    display: none;
  }
  .swiper-about {
    display: none;
  }
  .responsive-about {
    display: block;
  }
  .beforeli svg {
    width: 26px;
  }
  .responsive-about:hover .card-about {
    opacity: 0.7;
    transform: scale(0.98);
  }
  .responsive-about:hover .card-about:hover {
    opacity: 1;
    transform: scale(1);
  }
  .responsive-about:hover .card-about:hover h3 {
    color: #efaa50;
  }
  .about-sec.bg-left {
    background-image: none;
  }
  .training-sec .img-frame2 .fancybox-link,
  .about-sec .img-frame2 .fancybox-link,
  .story-sec .img-frame2 .fancybox-link {
    position: absolute;
    top: 46%;
    left: 46%;
  }
  .training-sec .img-frame2 .fancybox-link i,
  .about-sec .img-frame2 .fancybox-link i,
  .story-sec .img-frame2 .fancybox-link i {
    font-size: 3rem;
  }
  .how-sec .beforeli::before {
    left: 2%;
  }
  .navbar-brand img {
    width: 80px;
  }
  .head-sec .img-frame {
    background-image: none;
  }
  .head-sec .gallery-top .swiper-slide h1 {
    top: 25%;
    left: 0.8rem;
    width: 100%;
    font-size: 3rem;
  }
  .mt-6 {
    margin-top: 0.5rem;
  }
  .py-6 {
    padding-top: 6rem !important;
    padding-bottom: 1rem !important;
  }
  .f-2-3rem {
    font-size: 2rem;
  }
  .title.pb-5 {
    padding-bottom: 2rem !important;
  }
  .title .f-1rem {
    font-size: 0.9rem;
  }
  .title.mb-5 {
    margin-bottom: 2rem !important;
  }
  .head-sec .img-frame {
    height: fit-content;
  }
  .head-sec .hesder-sec h2 {
    display: none;
    visibility: hidden;
  }
  .head-sec .gallery-top .swiper-top .swiper-slide {
    height: 485px;
  }
  .head-sec .detail-head {
    padding: 0;
  }
  .training-sec .v-training {
    height: 390px;
  }
  .story-sec .v-training {
    height: 375px;
  }

  .sticky-navbar .button-img img {
    width: 149px;
    padding: 0.9rem 0;
  }
  header .button-img h5 {
    font-size: 0.8rem;
    top: 18%;
    right: 18%;
  }
  .sticky-navbar .navbar-brand img {
    width: 50px;
  }
  .price-sec .all-awsome {
    margin-bottom: 1.5rem;
  }
  .swiper-stories .swiper-container {
    height: 405px;
  }
  .swiper-test .swiper-container {
    height: 400px;
  }
  /* .alert {
    display: none;
  } */
  .swiper-stories .swiper-button-next,
  .swiper-stories .swiper-button-prev,
  .swiper-test .swiper-button-next,
  .swiper-test .swiper-button-prev,
  .swiper-case .swiper-button-next,
  .swiper-case .swiper-button-prev {
    width: 35px;
    height: 35px;
  }
  .swiper-stories .swiper-button-next:after,
  .swiper-stories .swiper-rtl .swiper-button-prev:after,
  .swiper-test .swiper-button-next:after,
  .swiper-test .swiper-rtl .swiper-button-prev:after,
  .swiper-case .swiper-button-next:after,
  .swiper-case .swiper-rtl .swiper-button-prev:after,
  .swiper-stories .swiper-button-prev:after,
  .swiper-stories .swiper-rtl .swiper-button-next:after,
  .swiper-test .swiper-button-prev:after,
  .swiper-test .swiper-rtl .swiper-button-next:after,
  .swiper-case .swiper-button-prev:after,
  .swiper-case .swiper-rtl .swiper-button-next:after {
    font-size: 1rem;
  }
  .swiper-stories .swiper-button-prev,
  .swiper-stories .swiper-rtl .swiper-button-next,
  .swiper-test .swiper-button-prev,
  .swiper-test .swiper-rtl .swiper-button-next,
  .swiper-case .swiper-button-prev,
  .swiper-case .swiper-rtl .swiper-button-next {
    left: auto;
    right: 61px;
  }
  .all-awsome .f-2-4rem {
    font-size: 2.1rem;
  }
  footer .f-1-5rem {
    font-size: 1.3rem;
  }
  footer .f-1-5rem {
    font-size: 1.3rem;
  }
  footer .col-md-6 img {
    width: 140px;
  }
  footer .col-lg-3 img {
    width: 40px;
  }
  footer .col-lg-4.justify-content-end {
    margin-top: 1rem;
    justify-content: center !important;
    order: 1;
  }
  footer .col-lg-8 .d-flex {
    justify-content: center !important;
  }
  footer .col-lg-8 a {
    font-size: 0.9rem;
  }
  footer .py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .calories-sec .button-img h5,
  .training-sec .button-img h5 {
    top: 29%;
    right: 10%;
  }
  .story-sec .button-img h5,
  .ask-sec .button-img h5,
  .trainingplan-sec .button-img h5,
  .related-sec .button-img h5 {
    top: 30%;
    right: 11%;
  }
  .head-sec .gallery-top .swiper-pagination-bullet {
    width: 170px;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-toggler:hover i,
  .navbar-toggler:focus i {
    color: #efaa50;
  }
  .trans-sec .nav-tabs .nav-link {
    width: 20%;
    margin-bottom: 0.8rem;
    margin-inline-end: 1rem;
  }
}
@media (max-width: 767px) {
  .head-sec .gallery-top .swiper-slide h1 {
    top: 22%;
    font-size: 2.7rem;
    left: 0rem;
  }
  .head-sec .img-above img {
    width: 285px;
}
.head-sec .img-above {
  bottom: -93px;
}
  .alert {
    text-align: center;
    width: 100%;
}
#price{
  padding-top: 0rem!important;
}
#countdown li span {
  font-size: 1.1rem;
}
#countdown ul {
  justify-content: center;
  padding-left: 0.5rem !important;
}
.alert .mt-5 {
  margin-top: 1.5rem!important;
}
.alert .f-1-3rem {
  font-size: 1.1rem;
}
.alert img{
  width: auto !important;
}
  .response-flex {
    display: block !important;
    text-align: center !important;
}
.mb-1-5rem {
  margin-bottom: 0rem;
}
.response-flex .w-50 {
  width: 100% !important;
;
}
  .form-check .justify-content-end {
    justify-content: flex-start!important;
}

  .radio-item {
    margin-bottom: 1rem;
}
  .payment-type label {
    font-size: .8rem;
}
.payment-type label span {
  width: 20px;
  height: 20px;
  font-size: .7rem;
}
.payment-type label i {
  font-size: .8rem;
  margin-inline-start: 1rem;
  padding-top: 0.2rem;
}
.payment-type input:checked + label:after {
  width: 20px;
  height: 20px;
  font-size: .7rem;
  top: 5px;
}
  #collapseThree .accordion-body .form-check-input {
    bottom: 87%;
  }
  .last-deatail-load {
    bottom: 14%;
  }
  .loader .text-load {
    width: 100%;
    transform: translate(2%, -60%);
  }
  .progress-value {
    height: 30px;
  }
  .progress {
    height: 30px;
  }
  .trainingplan-sec-contact .img-person {
    height: 320px;
}
textarea.form-control {
  height: 165px;
}
  .related-sec .col-lg-6 .d-flex {
    display: block !important;
  }
  .related-sec .col-lg-6 .d-flex .w-50 {
    width: 95% !important;
  }
  .trans-sec .nav-tabs .nav-link {
    width: 30%;
  }
  footer .br-top {
    margin-bottom: 5.5rem;
  }
  .price-sec .all-awsome {
    height: auto;
    display: block;
  }
  .head-sec .detail-head {
    height: 320px;
  }
  .calories-sec .border-test {
    margin-bottom: 2.5rem;
  }
  .sub-static img {
    width: 240px;
  }
  .sub-static h5 {
    font-size: 1.1rem;
  }
  .sub-static {
    height: 100px;
  }
  .dropdown-menu.show {
    display: block !important;
    flex-wrap: wrap;
  }
  .dropdown-menu.show li {
    width: 100%;
  }
  #accordionExample .accordion-body {
    display: block !important;
  }
  .accordion-body {
    padding: 1.2rem 1.5rem;
  }
  .accordion-body .div-form {
    margin-bottom: 1.2rem;

  }
  
  .w-245 {
    width: 190px;
}
  .form-check-label .d-flex {
    display: block !important;
  }
  .form-check-label .d-flex .w-25,
  .form-check-label .d-flex .w-50 {
    width: 100% !important;
    margin-bottom: 1rem !important;
  }
  .w-270 {
    width: 100%;
   
}
  .customDiv .form-check-inline {
    margin-right: 0rem;
  }
  .form-check-label .d-flex.w-25 {
    display: flex !important;
  }
  .trainingplan-sec .v-training {
    height: 420px;
  }
  .bg-right .col-sm-6 svg,
  .col-lg-6 .title svg {
    width: 26px;
  }
  .col-lg-4.col-md-6 .text-center {
    margin: auto;
    width: 80%;
  }
  .col-lg-4.col-md-6 .text-center .my-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .category-sec .img-frame2 .h-400 {
    height: 350px;
  }
  .related-sec h3.mb-5 {
    margin-bottom: 1.5rem !important;
  }
  .related-sec .text-end {
    text-align: left !important;
    margin-bottom: 1.5rem;
  }
  .achieve-sec .img-frame2 .h-500 {
    height: 500px;
    object-fit: cover;
  }
  header .button-img img {
    width: 130px;
  }
  header .button-img h5 {
    font-size: 0.8rem;
    top: 18%;
    right: 15%;
  }
  header .nav-link {
    font-size: 1rem;
  }
  .swiper-test .swiper-slide {
    margin-top: 2rem;
  }
  .swiper-test .swiper-container {
    height: 345px;
  }
  .swiper-stories .swiper-container {
    height: 427px;
  }
  .card-about .f-1-5rem {
    font-size: 1.2rem;
    margin-bottom: 1.2rem !important;
  }
  .card-about p {
    font-size: 0.8rem !important;
  }
  .head-sec .gallery-top .swiper-top .swiper-slide {
    height: 450px;
  }
  .head-sec .gallery-top .swiper-pagination-bullet {
    width: 130px;
  }
  .f-2-3rem {
    font-size: 1.7rem;
  }
  .title .f-1rem {
    font-size: 0.8rem;
  }
  .title p,
  .about-sec p,
  .training-sec p {
    font-size: 0.9rem;
  }
  .title {
    padding-bottom: 1rem !important;
  }
  .swiper-stories .img-story {
    top: 57px;
  }
  footer .col-sm-6 {
    margin-bottom: 2rem;
  }
  footer .col-md-6.py-5 {
    padding-top: 0rem !important;
    padding-bottom: 1.5rem !important;
  }
  footer .col-md-6 .justify-content-end {
    justify-content: flex-start !important;
  }
  footer .col-lg-8 .d-flex {
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .w-245 {
    width: 195px;
  }
  .accordion-body .d-flex label {
    margin-bottom: 0.6rem;
  }
}
@media (max-width: 550px) {
  .head-sec .detail-head {
    height: 400px;
  }
  .d-response{
    display: block !important;
  }
  .d-response .w-245 {
    width: 100%;
}
  .trans-sec .nav-tabs .nav-link {
    width: 40%;
  }
  .payment-type label {
    font-size: .7rem;
}

  .head-sec .gallery-top .swiper-top .swiper-slide {
    height: 530px;
  }
  .cal-responsive {
    width: 40%;
    text-align: center;
    font-size: 0.8rem;
}
}
@media (max-width: 480px) {
  .pt-5rem {
    padding-top: 3rem;
  }
  .payment-type label {
    font-size: .9rem;
}
.head-sec .img-above img {
  width: 240px;
}
  
  .loader .text-load h2 {
    font-size: 1rem;
  }
  .loader .text-load p {
    font-size: 0.9rem;
  }
  .count-up {
    font-size: 3rem;
  }
  .progress-value {
    height: 25px;
  }
  .progress {
    height: 25px;
  }
 
  .swiper-stories .img-story {
    top: 47px;
  }
  footer .br-top {
    margin-bottom: 4.5rem;
  }
  .how-sec .title.pb-5,
  .calories-sec .title.pb-5 {
    padding-bottom: 3rem !important;
  }
  .select-div2 i {
    right: 17px;
    top: 31%;
  }
  .head-sec .detail-head {
    height: 310px;
  }
  .head-sec .gallery-top .swiper-top .swiper-slide {
    height: 440px;
  }
  .cal-responsive {
    width: 38%;
    padding: 1rem 0 !important;
    bottom: -23px;
}
  .sub-static img {
    width: 180px;
  }
  .sub-static h5 {
    font-size: 0.9rem;
    right: 20%;
  }
  .sub-static {
    height: 80px;
  }
  .navbar-toggler .navbar-toggler-icon {
    width: 1.5rem;
  }
  .navbar-toggler .navbar-toggler-icon:before,
  .navbar-toggler .navbar-toggler-icon:after {
    width: 1.5rem;
  }
  .col-lg-8 .response-flex {
    display: block !important;
    text-align: center;
  }
  
  .w-270 {
    padding: 1rem;
  }
  .h-550 {
    padding: 1.5rem !important;
  }
  .h-550 h3 {
    margin-bottom: 1.5rem !important;
    font-size: 1.1rem;
  }
  .pland-sec .beforeli::before {
    height: 70%;
    top: 27%;
    left: 4%;
  }
  .pland-sec .beforeli .f-9rem {
    font-size: 0.7rem;
  }

  .d-flex label {
    margin-bottom: 1rem;
    margin-inline-end: 0 !important;
  }
  .trainingplan-sec .img-frame2 .fancybox-link i {
    font-size: 2rem;
  }
  .trainingplan-sec .v-training {
    height: 365px;
  }
  .about-sec .v-training,
  .training-sec .v-training {
    height: 520px;
  }
  .achieve-sec .img-frame2 .h-500 {
    height: 399px;
    object-fit: cover;
  }
  .swiper-case .f-9rem {
    font-size: 0.8rem;
  }
  .swiper-case .swiper-container {
    height: 340px;
  }
  .about-sec .v-training,
  .training-sec .v-training {
    height: 460px;
  }
  .achieve-sec .f-1-3rem {
    font-size: 1.1rem;
  }
  .f-2-4rem {
    font-size: 1.5rem;
  }
  .trainingplan-sec-contact .img-person {
    height: 280px;
}
  .card-about {
    display: block !important;
    align-items: center;
  }
  .card-about .ps-4 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .head-sec .gallery-top .swiper-slide h1 {
    font-size: 2.3rem;
  }
  .head-sec .gallery-top .swiper-pagination-bullet {
    width: 80px;
  }
  .f-2-3rem {
    font-size: 1.5rem;
  }
  .title.pb-5 {
    padding-bottom: 1rem !important;
  }
  .training-sec .v-training,
  .story-sec .v-training {
    height: 310px;
  }
  .training-sec .img-frame2 .fancybox-link i,
  .about-sec .img-frame2 .fancybox-link i,
  .story-sec .img-frame2 .fancybox-link i {
    font-size: 2.5rem;
  }
  .py-6 {
    padding-top: 3rem !important;
  }
  .beforeli .ms-3 {
    margin-left: 0rem !important;
  }
  .f-1-2rem {
    font-size: 1.1rem;
  }
  .ask-sec .f-1-8rem {
    font-size: 1.5rem;
  }
  footer .f-1-5rem {
    font-size: 1.1rem;
  }
  footer .col-lg-8 a {
    margin-bottom: 0.5rem;
    margin-inline-end: 2rem !important;
  }
  footer .col-lg-3 img {
    width: 35px;
    margin-bottom: 1rem !important;
  }
  .img-bee img {
    width: 100px;
  }
  .scroll {
    display: flex !important;
}
}
@media (max-width: 375px) {
  .head-sec .detail-head {
    height: 378px;
  }
  .head-sec .img-above img {
    width: 210px;
}
.head-sec .img-above {
  bottom: -83px;
}
.head-sec .gallery-top .swiper-slide h1 {
  font-size: 2.2rem;
}
.cal-responsive {
  font-size: 0.7rem;
}

  .payment-imge {
    margin-bottom: 0.5rem;
}
  .category-sec .img-frame2 .h-400 {
    height: 240px;
  }
  .trans-sec .nav-tabs .nav-link {
    width: 43%;
    padding: 0.3rem 0.7rem;
    font-size: 0.9rem;
  }
  .head-sec .gallery-top .swiper-top .swiper-slide {
    height: 500px;
  }
}

@media (max-width: 320px) {
  .head-sec .gallery-top .swiper-slide h1 {
    font-size: 2rem;
  }
  #collapseThree .accordion-body .form-check-input {
    bottom: 89%;
}
.head-sec .img-above img {
  width: 175px;
}
.alert {
  width: fit-content;
}
.cal-responsive {
  width: 40%;
  font-size: 0.6rem;
}
  input::placeholder,
textarea::placeholder {
  font-size: 0.7rem;
 
}
.mb-1-5rem{
  margin-bottom: 1rem;
}
  .form-control {
    font-size: 0.8rem;
}
  .radio-item span {
    top: 3%;
    right: 4%;
}
.accordion-item {
  padding: 1rem 1rem 1rem;
}
.accordion-body {
  padding: 1.2rem 1rem 0rem;
}
  .img-frame2 .h-330 {
    height: 235px;
  }
  .trans-sec .nav-tabs .nav-link {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .custom-select {
    height: 45px;
    padding: 0.5rem 0.9rem;
    border-radius: 0.9rem;
    font-size: 0.8rem;
  }
  .select-div2 i {
    right: 13px;
    top: 34%;
  }

  header .nav-link {
    font-size: 0.9rem;
  }
  .payment-imge {
    width: 36px;
    height: 25px;
  }
  .form-check-label .f-2-3rem {
    font-size: 1.3rem;
  }
  .trainingplan-sec .v-training {
    height: 290px;
  }
  .f-1-3rem {
    font-size: 1.1rem;
  }
  .swiper-case .swiper-container {
    height: 400px;
  }

  .training-sec .f-8rem {
    font-size: 0.7rem;
  }
  .swiper-test .swiper-container {
    height: 415px;
  }
  .training-sec .button-img img,
  .story-sec .button-img img,
  .calories-sec .button-img img,
  .ask-sec .button-img img,
  .trainingplan-sec .button-img img,
  .related-sec .button-img img {
    width: 110px;
  }
  .calories-sec .button-img h5,
  .training-sec .button-img h5 {
    top: 31%;
    font-size: 0.7rem;
  }
  .training-sec .v-training,
  .story-sec .v-training {
    height: 265px;
  }
  .training-sec .img-frame2 .fancybox-link i,
  .about-sec .img-frame2 .fancybox-link i,
  .story-sec .img-frame2 .fancybox-link i {
    font-size: 2rem;
  }
  .f-2-3rem {
    font-size: 1.3rem;
  }
  .beforeli svg {
    width: 24px;
  }
  .how-sec .beforeli::before {
    height: 75%;
    top: 22%;
    left: 4%;
  }
  .story-sec .button-img h5,
  .ask-sec .button-img h5,
  .trainingplan-sec .button-img h5,
  .related-sec .button-img h5 {
    right: 7%;
  }
  .f-1-2rem {
    font-size: 1rem;
  }
  .all-awsome .f-2-4rem {
    font-size: 1.8rem;
  }
  .img-bee img {
    width: 85px;
  }
  .img-bee2 img {
    width: 55px;
  }
  .pt-5rem {
    padding-top: 1rem;
  }
  .price-sec .img-bee2 {
    right: 15px;
    top: 15px !important;
  }
}
